*{
    margin: 0;
    /*outline: 1px solid rgb(68, 10, 68);*/
}

.contenedor{
    background-color: darkslateblue;
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.menu{
    width: 1080px;
    padding-left: 20px;
    font-family: 'Courier New';
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.buscador{
    border-radius: 8px;
    margin-left: auto;
}
.boton{
    background-color: rgb(238, 123, 238);
    border-radius: 8px;
    margin: 0 20px;
}

/* seccion de categoria*/

.contenedorcategorias {
    background-color: rgb(147, 134, 230);
    color: white;
    padding: 3px 0;
    display: flex;
    justify-content: center;
}

.categoria {
    width: 1080px;
    padding-left: 20px;
    font-family: 'Courier New';
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.onlive,
.fav,
.views {
    margin-left: 100px;
}

/*biblioteca de lista del contenido (anime) uwu */

.biblioteca{
    display:flex;
    justify-content: center;
}

.bibliocontent{
    width: 1080px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content{
    text-size-adjust: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 5px;
    margin: 5px;
    max-width: min-content;
}

